@model Projekt.Models.Oplata

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Oplata</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stawka_za_dzien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stawka_za_dzien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dni_w_miesiacu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dni_w_miesiacu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miesiac.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miesiac.nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rok.rok1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rok.rok1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
