@{
    ViewBag.Title = "CRUD";
}

<div class="jumbotron">
    <h1>Stołówka - CRUD</h1>
</div>

<div class="row">
    <ul>
        <li>@Html.ActionLink("Posiłek", "Index", "Posilek")</li>
        <li>@Html.ActionLink("Jadłospis", "Index", "Jadlospis")</li>
        <li>@Html.ActionLink("Rok", "Index", "Rok")</li>
        <li>@Html.ActionLink("Miesiąc", "Index", "Miesiac")</li>
        <li>@Html.ActionLink("Użytkownicy", "Index", "AspNetUsers")</li>
        <li>@Html.ActionLink("Role", "Index", "AspNetRoles")</li>
        <li>@Html.ActionLink("Adres", "Index", "Adres")</li>
        <li>@Html.ActionLink("Kontakt", "Index", "Kontakt")</li>
        <li>@Html.ActionLink("Firma", "Index", "Firma")</li>
        <li>@Html.ActionLink("Pracownik", "Index", "Pracownik")</li>
        <li>@Html.ActionLink("Dziecko", "Index", "Dziecko")</li>
        <li>@Html.ActionLink("Nieobecność", "Index", "Nieobecnosc")</li>
        <li>@Html.ActionLink("Opłata", "Index", "Oplata")</li>
        <li>@Html.ActionLink("Transakcja", "Index", "Transakcja")</li>
    </ul>
</div>